:host {
  display: flex;
  flex: 1 0 60%;
}
.pizza-form {
  width: 100%;
}

.pizza-button {
  display: block;
  padding: 30px;
  
  button {
    cursor: pointer;
    background: #1094d2;
    color: #fff;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
    img {
      margin: 0 8px 0 0;
    }
    &:hover {
      background: darken(#1094d2, 4%);
    }
    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      justify-content: center;
    }
  }
}

.pizza-name {
  padding: 30px;
  input {
    width: 100%;
    border: 1px solid #b8c8d0;
    padding: 10px 15px;
    border-radius: 2px;
    font-size: 14px;
    color: #01699a;
    outline: 0;
  }
}

.error {
  border-radius: 0 0 2px 2px;
  background: #d73a49;
  color: #fff;
  padding: 5px 10px;
  font-size: 13px;
  margin: -1px 0 0;
  position: relative;
  font-weight: 500;
}